<!--cadastro fotográfo-->
{% extends "base.html" %}
<!--para que bootstrap, javascript etc funcione nas páginas-->
{% block title %}Cadastro Fotografo - FOTECTA: Como conectar fotógrafos com novos clientes{% endblock %}
{%block content%}

<form method="POST">
    <!--post deposita no bd-->
    <!--falta conectar tudo ao banco de dados-->
    <h3 align="center">NOVO CADASTRO DO PROFISSIONAL</h3>
    <!--campo para inserir email-->
    <div class="form-group">
        <label for="email">Endereço de Email</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Digite seu Email"
        />

    </div>
    <!--campo para inserir primeiro nome-->
    <div class="form-group">
        <label for="firstName">Digite seu Nome</label>
        <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="José"
        />

    </div>
    <!--campo para inserir sobrenome-->
    <div class="form-group">
        <label for="lastName">Digite seu Sobrenome</label>
        <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Da Silva Pereira"
        />
    </div>
    <!--campo para inserir criar senha-->
    <div class="form-group">
        <label for="password1">Crie uma senha</label>
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Crie uma senha"
        />
    </div>
    <!--campo para confirmar senha, precisa bater com o div de criar senha-->
    <div class="form-group">
        <label for="password2">Confirme sua senha</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirme sua senha"
        />
    </div>
    <br/>
    <!--botão confirmar-->
    <button type="submit" class="btn btn-primary">Criar Conta para Profissional</button>
</form>
{%endblock%}